.home {

	.current-temp {
		color: #fff;
		text-shadow: 1px 1px 2px black;
		padding: 30px;

		h3,
		h4,
		p {
			margin: 0;
			font-weight: 400;
		}

		h3 {
			font-size: 36px;
		}

		.perfil {
			float: right;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			box-shadow: 1px 1px 10px rgba(0,0,0,.5);
		}
	}

	/* .platform-ios */ & .scroll {
		height: 100%;
	}

	home-chart {
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;

		.chart {
			filter: drop-shadow(1px 1px 5px rgba(0,0,0,.2));
		}
	}

	.thermomer-list {
		// position: absolute;

		&.hidden {
			display: none;
		}
	}

}

.main-home {
	.header-item {
		width: 300px;
	}
	.bar {
		background: none;
	}
}